:root {
    --khaki-beige: hsla(39, 38%, 69%, 1);
    --muted-teal: hsla(141, 13%, 51%, 1);
    --charcoal: hsla(253, 8%, 36%, 1);
    --blackberry-cream: hsla(325, 33%, 27%, 0.8);
    --night-bordeaux: hsla(342, 58%, 18%, 1);
    /* CSS HSL */
    --toffee-brown: hsla(17, 27%, 44%, 1);
    --sky-blue-light: hsla(191, 93%, 68%, 1);
    --shamrock: hsla(153, 87%, 32%, 1);
    --bone: hsla(38, 31%, 84%, 1);
    --graphite: hsla(0, 0%, 16%, 1);
}

* {
    p {
        font-size: 1.2rem;
    }
}

body {
    background-color: var(--khaki-beige);
    color: var(--night-bordeaux);
    margin: 0 auto;
    padding: 0;
}



.header-container {
    display: flex;
    align-items: center;
    background-color: var(--night-bordeaux);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    nav {

        margin-left: auto;
        padding-right: 1rem;
        
        ul {
            list-style: none;
            display: flex;
            gap: 1rem;
            margin: 0;
            padding: 0;
        }

        a {
            color: var(--khaki-beige);
            text-decoration: none;
            padding: 0.5rem 1rem;
            text-transform: uppercase;
            font-size: 1.3rem;
            &:hover {
                transform: fadeIn(0.3s);
                background-color: var(--charcoal);
                color: white;
                border-radius: 4px;
            }
        }
    }

}

.logo {
    height: 100px;
    
}

/* MAIN VIEW CONTENT */


#index {
    display:  grid;
    grid-template-columns: 300px 1fr;

    gap: 30px;
    padding: 20px;
    padding-bottom: 500px;
    background: var(--graphite);
    box-shadow: inset 0 0 100px black;
    
    section {
    background: var(--bone);
    padding: 1rem;
    border-radius: 10px;
    box-shadow: inset 0px 0px 10px var(--charcoal);
    }
}

.hero {
    width: 100%;
    grid-column: 1 / 3;
    grid-row: 1;

    border: 1px solid black;

}

.intro {
    grid-column: 1 / 3;
    grid-row: 2;
}

.search {
    input {
        padding: 0.75rem;
        margin-top: 0.5rem;
        border: 1px solid var(--charcoal);
        border-radius: 4px;
    }
    button {
        margin-top: 0.5rem;
        padding: 0.5rem;
        background-color: var(--toffee-brown);
        color: var(--bone);
        border: none;
        border-radius: 4px;
        cursor: pointer;
        &:hover {
            background-color: var(--sky-blue-light);
        }
    }
}

form {
    display: flex;
    flex-direction: column
}

#campaignNotes {
    height: 100px;


}

textarea {
    margin-top: 1rem;
    padding: 0.75rem;
    border: 1px solid var(--charcoal);
    border-radius: 5px;
    resize: none;
    font-size: 1rem
}

/* Spell Library */

.spell-header {
    text-align: center;
    margin-top: 1rem;
    color: black;
    font-family: "Ephesis", cursive;
    font-size: 3.5rem;
    font-weight: 400;
}
#spellList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

.spell-details {
    background: var(--charcoal);
    color: var(--bone);
    margin: 1rem;
    padding: 1rem;
    border-radius: 20px 0px 20px 0px;
    box-shadow: 3px 3px 10px var(--toffee-brown)

}

.spell-card {
    background-color: var(--bone);
    color: rgb(17, 16, 16);
    padding: 1rem;
    border-radius: 8px;
    box-shadow: inset 0 0 5px 5px rgba(0, 0, 0, 0.4);
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5rem;
    height: 50px;

    &:hover {
        box-shadow: inset 0 0 10px 5px var(--sky-blue-light)
    }
}
#saveSpell {
    width: 150px;
    margin-top: 1rem;
    padding: 0.75rem;
    background-color: var(--toffee-brown);
    color: var(--bone);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
        background-color: var(--sky-blue-light);
        color: var(--charcoal);
    }
}





